.callToAction {
	text-align: center;
	background-color: #292D36;
	color: #FFF;
}

.callToAction-content {
	font-size: 2.2em;
	margin-bottom: 1.5em;
}

.callToAction-button {
	display: inline-block;
  padding: .85em 3.5em .7em;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
	background-color: #52CAB3;
	color: #292D36;
	font-size: 1.5em;
	box-shadow: 0 0 4px 4px;
}


@media(min-width: 390px){
	.callToAction-button {
		font-size: 2.2em;
	}
}