.callToAction {
	text-align: center;
	background-color: #292D36;
	color: #FFF;
}

.callToAction-content {
	font-size: 2.2em;
	margin-bottom: 1.5em;
}

.callToAction-button {
	font-size: 1.5em;
}


@media(min-width: 390px){
	.callToAction-button {
		font-size: 2.2em;
	}
}