@font-face {
	font-family: 'UnitedSansCond';
	src: url('../fonts/UnitedSansCond-Light.eot');
	src: local('☺'), url('../fonts/UnitedSansCond-Light.woff') format('woff'), url('../fonts/UnitedSansCond-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UnitedSansCond';
	src: url('../fonts/UnitedSansCond-Black.eot');
	src: local('☺'), url('../fonts/UnitedSansCond-Black.woff') format('woff'), url('../fonts/UnitedSansCond-Black.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'UnitedSansRegular';
	src: url('../fonts/UnitedSansReg-Bold.eot');
	src: local('☺'), url('../fonts/UnitedSansReg-Bold.woff') format('woff'), url('../fonts/UnitedSansReg-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



