.intro {
	text-align: center;
	color: white;
	position: relative;
	background-image: url(../images/intro-bg.jpg);
	background-size: auto 100%;
	background-position: bottom center;
	z-index: 0;
}

.intro-video {
	width: auto;
	height: 100%;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	z-index: -1;
}

.intro-title {
	font-size: 3em;
	display: inline-block;
	margin-bottom: .7em;
}

.intro-content {
	display: block;
	font-size: 2.5em;
	max-width: 15em;
	margin: 0 auto 1.4em;
}

.intro-button {
	display: inline-block;
	padding: .7em 3.2em .65em;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
	background: transparent;
	color: #52CAB3;
	border: 2px solid;
	font-size: 1.3em;
}

@media (min-width: 510px){
	.intro-title {
		line-height: 0;
		margin-bottom: 1.2em;
	}

	.intro-titleLink {
		display: inline-block;
		background: url("../images/logo.png");
		box-sizing: content-box;
		background-clip: content-box;
		background-position: center center;
		width: 463px;
		height: 150px;
		padding: .5em 0 .45em;
		text-indent: -9999px;
	}

	.intro-title:after,
	.intro-title:before {
		content: "";
		width: 100%;
		display: inline-block;
		height: 6px;
		background-repeat: no-repeat;
		background-image: linear-gradient(currentcolor, currentcolor),
											linear-gradient(currentcolor, currentcolor);
		background-size: 100% 1px, 52px 6px;
		background-position: center;
	}
}

@media (min-width: 1160px){
	.intro {
		background-size: 100% auto;
	}

	.intro-video {
		width: 100%;
		height: auto;
	}
}