.journeyStep {
	padding: 1em;
	vertical-align: top;
	background-color: #292D36;
	background-image: linear-gradient(-45deg, currentcolor, currentcolor 8px, transparent 8px, transparent 14px, currentcolor 14px, currentcolor 20px),
	                  linear-gradient(-45deg, currentcolor, currentcolor 8px, transparent 8px, transparent 20px);
	background-size: 20px 8px;
	background-repeat: repeat-x;
	margin-bottom: .5em;
	text-align: left;
}

.journeyStep#journeyStep-1 {
	color: #F7DE0D;
}

.journeyStep#journeyStep-2 {
	color: #48AF73;
}

.journeyStep#journeyStep-3 {
	color: #49B3CA;
}

.journeyStep#journeyStep-4 {
	color: #C95757;
}

.journeyStep#journeyStep-5 {
	color: #8073D1;
}

.journeyStep-number {
	font-family: "UnitedSansRegular", "UnitedSansCond", "Arial", sans-serif;
	font-weight: lighter;
	font-size: 3.4em;
	line-height: 1.5;
}

.journeyStep-name {
	display: block;
	margin-bottom: .5em;
	font-size: 1.7em;
	font-weight: lighter;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

.journeyStep-course + .journeyStep-course {
	margin-top: .5em;
}

.journeyStep-courseName {
	color: white;
	font-family: "Arial Narrow", sans-serif;
}

@media(min-width: 495px){
	.journeyStep{
		width: 220px;
		display: inline-block;
		padding: 0;
		background-image: linear-gradient(-45deg, currentcolor, currentcolor 8px, transparent 8px, transparent 14px, currentcolor 14px, currentcolor 20px),
	                  linear-gradient(-45deg, currentcolor, currentcolor 8px, transparent 8px, transparent 20px),
	                  url("../images/steps.jpg");
		background-size: 20px 4px, 20px 4px, auto;
		background-repeat: repeat-x, repeat-x, no-repeat;
	}

	.journeyStep#journeyStep-1 {
		color: #F7DE0D;
		background-position: 0 0, 0 0, 0 0;
	}

	.journeyStep#journeyStep-2 {
		color: #48AF73;
		background-position: 0 0, 0 0, -225px 0;
	}

	.journeyStep#journeyStep-3 {
		color: #49B3CA;
		background-position: 0 0, 0 0, -450px 0;
	}

	.journeyStep#journeyStep-4 {
		color: #C95757;
		background-position: 0 0, 0 0, -675px 0;
	}

	.journeyStep#journeyStep-5 {
		color: #8073D1;
		background-position: 0 0, 0 0, -900px 0;
	}

	.journeyStep-heading {
		padding: 1em 1em 0 1em;
	}

	.journeyStep-number {
		font-size: 3.5em;
	}

	.journeyStep-name {
		min-height: 2em;
		max-width: 4.8em;
		font-size: 2.25em;
	}

	.journeyStep-course {
		overflow: hidden;
	}

	.journeyStep-course + .journeyStep-course {
		margin-top: 1em;
	}

	.journeyStep:not(:nth-child(n+4)) .journeyStep-course:before {
		content: ".";
		text-align: center;
		float: left;
		display: inline-block;
		width: 35px;
		height: 35px;
		background-color: currentcolor;
		margin-right: .5em;
	}

	.journeyStep-courseName {
		font-size: .94em;
		font-weight: lighter;
		overflow: hidden;
		display: block;
	}

	.journeyStep-courseList{
		margin-top: .5em;
		height: 10em;
		padding: 0 .65em 0 1em;
	}
}