.journeyResume {
	background: #53CAB4;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

.journeyResume-item {
	display: inline-block;
	width: 45%;
	font-size: 1.45em;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
}

.journeyResume-itemHiglight {
	display: block;
	font-size: 1.2em;
}


@media(min-width: 560px){
	.journeyResume {
		text-align: justify;
		line-height: 0;
		width: 100%;
	}

	.journeyResume-item {
		width: auto;
		display: inline-block;
		line-height: normal;
	}

	.journeyResume:after {
		content:".";
		color: transparent;
		width: 100%;
		display: inline-block;
	}
}