.journeyResume {
	text-align: justify;
	line-height: 0;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #52CAB3;
	color: white;
}

.journeyResume:after {
	content:".";
	color: transparent;
	width: 100%;
	display: inline-block;
}

.journeyResume-item {
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: normal;
}

.journeyResume-item:last-child {
	display: none;
}

.journeyResume-image {
	display: none;
}

.journeyResume-itemHiglight {
	display: block;
	font-size: 1.2em;
}

@media(min-width: 560px){

	.journeyResume-item:last-child {
		display: inline-block;
	}
}

@media (min-width: 970px) {
	.journeyResume-image {
		display: inline-block;
		vertical-align: middle;
		margin-right: .6em;
		height: 56px;
	}

	.journeyResume-txt {
		vertical-align: middle;
		display: inline-block;
		line-height: .9;
	}
}