body {
	font-family: "UnitedSansCond", "Arial", sans-serif;
	font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

.container {
	padding: 4em 5%;
}

@media(min-width: 1215px) {
	.container {
		box-sizing: content-box;
		max-width: 1180px;
		padding: 4em calc(50% - 590px)
	}
}


