.slider {
	overflow: hidden;
	white-space: nowrap;
}

.slider-item {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	width: 100%;
}

.slider .slider-item + .slider-item {
	margin: 0;
}

.slider-navigation {
	margin-top: 1em;
	display: inline-block;
}

.slider-navigation > * {
	display: inline-block;
}

.slider-navigationItem {
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #EAEAEA;
	border: 3px solid;
	transition: background-color 0s 9999s linear;
}

.slider-navigationItem:active {
	transition: background-color 0s 0s linear;
	background-color: #EAEAEA;
}

.slider-navigation:active .slider-navigationItem:not(:active){
	transition: none;
	background: transparent;
}
