.testimonial{
	box-sizing: content-box;
	max-width: 725px;
	padding: 0 calc(50% - 362.5px);
}

.testimonial-image {
	width: 80px;
	height: 80px;
	background: #EAEAEA;
	border-radius: 50%;
	margin-bottom: 2em;
}

.testimonial-content {
	font-size: 1.9em;
}

@media(min-width:545px){
	.testimonial-content {
		font-size: 2.7em;
	}
}