.testimonial {
	text-align: center;
}

.testimonial-content {
	font-size: 1.9em;
}

.testimonial-studentInfo {
	color: #858585;
	margin-top: 1em;
	font-size: 1.8em;
}

@media(min-width:545px){
	.testimonial-content {
		font-size: 2.7em;
	}
}