.title {
	display: inline-block;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
	margin-bottom: .7em;
}

.title:after {
	content: "";
	width: 100%;
	height: .1em;
	display: block;
	margin-top: .02em;
	background-repeat: no-repeat;
	background-image: linear-gradient(#52CAB3, #52CAB3),
										linear-gradient(#52CAB3, #52CAB3);
	background-size: 100% 1px, .65em .1em;
	background-position: center;
}